@page "/table/create"
@inject NavigationManager NavigationManager
@inject TableDbContext db
@inject ITableService TableService
@rendermode InteractiveServer

<h3>Создание новой таблицы</h3>

<TableForm FormTable="@newTable"
          OnSave="HandleSave"
          OnCancel="HandleCansel"
          EditMode=false />
