@page "/table/{TableId:int}"
@inject NavigationManager NavigationManager
@inject StolbService StolbService
@inject CardService CardService
@inject TableService TableService
@inject TableDbContext db
@rendermode InteractiveServer

<h3>@table.TableName</h3>

<button type="button" class="btn btn-primary" @onclick="() => AddNewCard(table.TableId)">Создать карточку</button>

<div class="container-fluid table-container">
        <div class="row">

            @foreach (var col in columns)
            {
            <div class="col-md-3 column-container">
                <div class="heading column-heading">
                    <h4>@col.StolbName</h4>
                </div>
                    
                <div class="card-list">
                    @foreach (var card in cards.Where(c => c.StolbId == col.StolbId))
                    {
                        <p><a href="/card/@card.CardId">@card.Title</a></p>
                        @if (card.User != null)
                        {
                            <p>@card.User.UserName</p>
                        }
                    }
                </div>
            </div>
            }
        </div>
    </div>


