@page "/table/edit/{TableId:int}"
@inject NavigationManager NavigationManager
@inject TableDbContext db
@inject ITableService TableService
@inject IStolbService StolbService
@rendermode InteractiveServer

<h3>Редактирование таблицы</h3>

@if (editTable == null)
{
    <p>Таблица не найдена</p>
}
else
{

<TableForm FormTable="@tableForm"
           OnSave="HandleSave"
           OnCancel="Cancel"
           EditMode=true />

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger">@errorMessage</div>
    }
}
