@page "/table/edit/{TableId:int}"
@inject NavigationManager NavigationManager
@inject TableDbContext db
@inject ITableService TableService
@inject IStolbService StolbService
@rendermode InteractiveServer

<h3>Редактирование таблицы</h3>

<TableForm FormTable="@tableForm"
           OnSave="HandleSave"
           OnCancel="Cancel"
           EditMode=true />