@page "/table/{TableId:int}"
@inject NavigationManager NavigationManager
@inject IStolbService StolbService
@inject ICardService CardService
@inject ITableService TableService
@inject TableDbContext db
@rendermode InteractiveServer

@if (table == null)
{
    <p>Таблица не найдена</p>
}
else
{
<div class="d-flex align-items-center justify-content-between">
    <div><a href="/">Мои таблицы</a></div>
    <h3>@table.TableName</h3>

    <button type="button" class="btn btn-primary" @onclick="() => AddNewCard(table.TableId)">Создать карточку</button>
</div>

<div class="container-fluid table-container">
        <div class="row">

            @foreach (var stolb in table.Stolbs)
            {
            <div class="col-md-3 column-container">
                <div class="heading column-heading">
                        <h4>@stolb.StolbName</h4>
                </div>
                    
                <div>
                    @foreach (var card in table.Cards.Where(c => c.StolbId == stolb.StolbId))
                    {
                        <div class="card-list">
                            <p><a href="/card/@card.CardId">@card.Title</a></p>
                            @if (card.User != null)
                            {
                                <p>@card.User.UserName</p>
                            }
                        </div>
                    }
                </div>
            </div>
            }
        </div>
    </div>
}